.fav-badge {
  position: relative;
  display: inline-block; /* Ensures the notification circle is positioned relative to the icon */
}

.fav-badge__count {
  background-color: rgb(252, 252, 252);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px; /* Position above the icon */
  right: -10px; /* Position to the right of the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black; /* Ensure text is visible */
}

.fav-badge__icon {
  font-size: 24px;
  position: relative; /* Ensure that the notification circle is positioned relative to the icon */
}

.fav-badge__notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px; /* Size of the notification circle */
  height: 12px; /* Size of the notification circle */
  background-color: green; /* Notification circle color */
  border-radius: 50%; /* Circular shape */
}